<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Blank</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

<!--  <div id="container">-->
<!--    <strong>Ready to create an app?</strong>-->
<!--    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
<!--  </div>-->

  <main>
    <span class="city">{{ city$ | async }}</span>
    <span class="date">Mon, 3:54pm</span>

    <div class="icon">
      <img src="../../assets/d2.png" alt="">
    </div>

    <span class="description">Cloudy</span>
    <span class="temperature">18°</span>
  </main>

  <!-- 7 Day forecast grid -->
  <ion-grid>
    <!-- Day Row -->
    <ion-row>
      <ion-col class="day">Mon</ion-col>
      <ion-col class="day">Tue</ion-col>
      <ion-col class="day">Wed</ion-col>
      <ion-col class="day">Thu</ion-col>
      <ion-col class="day">Fri</ion-col>
      <ion-col class="day">Sat</ion-col>
      <ion-col class="day">Sun</ion-col>
    </ion-row>

    <!-- Chances of precipitation -->
    <ion-row>
      <ion-col class="precipitation">60%</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">20%</ion-col>
      <ion-col class="precipitation">60%</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">-</ion-col>
    </ion-row>

    <!-- weather icon -->
    <ion-row>
      <ion-col class="icon-sm"><img src="../../assets/d2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/d2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/d2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/d2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/d2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/d2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/d2.png"></ion-col>
    </ion-row>

    <!-- Max Temp -->
    <ion-row>
      <ion-col class="hi-sm">25°</ion-col>
      <ion-col class="hi-sm">27°</ion-col>
      <ion-col class="hi-sm">25°</ion-col>
      <ion-col class="hi-sm">23°</ion-col>
      <ion-col class="hi-sm">25°</ion-col>
      <ion-col class="hi-sm">28°</ion-col>
      <ion-col class="hi-sm">32°</ion-col>
    </ion-row>

    <!-- Min Temp -->
    <ion-row>
      <ion-col class="lo-sm">15°</ion-col>
      <ion-col class="lo-sm">16°</ion-col>
      <ion-col class="lo-sm">12°</ion-col>
      <ion-col class="lo-sm">19°</ion-col>
      <ion-col class="lo-sm">20°</ion-col>
      <ion-col class="lo-sm">21°</ion-col>
      <ion-col class="lo-sm">23°</ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
